 :root{
    --success-color:#2691d9;
    --error-color:#e74c3c;
 }
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;   
 } 
 .full-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(29, 29, 29);
 }
 /* CSS Sidebar */
 .sidebar {
    flex:1;
    background: linear-gradient(45deg, black, #242424);
    color: white;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: auto;
    border-radius: 0 8px 8px 0;
    animation: slideIn 1s ease-in-out;
    box-sizing: border-box;
 }
 @keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.sidebar_text {
    margin: 30px 0 0 30px;
    font-size: 1.2em;
}
.sidebar_text>span {
    margin-left: 20px;
    padding: 10px 30px;
    background-clip: padding-box;
    background: linear-gradient(135deg, #3999ff, #50e2ff);
    color: black;
    border-radius: 10px;
    font-weight: bold;
}
.sidebar_text>h2 {
    margin-bottom: 40px;
}
/* CSS Content navigation */
.content {
    flex: 4;
    overflow: auto;
 }
 .content::-webkit-scrollbar {
    height: 7px;
 }
 .navbar {
    height: 60px;
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 10px;
 }
 .navbar_btn {
    position: absolute;
    right: 30px; 
 }
 .btn_login {
    border: none;
    font-size: 1em;
    padding: 10px 25px;
    border-radius: 15px;
    background: linear-gradient(135deg, #3999ff, #50e2ff);
    color: black;
    cursor: pointer;
 }
 .btn_login:hover,.start_btn:hover {
    opacity: 0.8;
    box-shadow: 2px 2px black;
    background: linear-gradient(135deg, #50e2ff, #3999ff);
  transform: scale(1.05);
 }
 /* CSS Content body */
.content_body {
   display: grid;
   justify-content: center;
   margin-top: 10px;
   color: white;
   position: relative;
}
.body_title {
    display: grid;
    justify-content: center;
    font-size: 1.5em;
}
.body_title>h1 {
    margin: 40px auto 5px;
     font-weight: lighter;
}
.body_title>h3 {
    margin: 0 auto;
    font-weight: 50;
}
.body_description {
    font-size: 1.6em;
    margin-top: 30px;
}
.description_prompt {
    font-weight: 100;
    margin: 10px 0 0;
}

.start_btn {
    padding: 20px;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background: linear-gradient(135deg, #3999ff, #50e2ff);
    cursor: pointer;
    margin: 50px auto 0;
}
/* CSS trang tạo */
.sidebar_title {
    font-size: 1.2em;
    position: sticky;
}


.sidebar_title>h2 {
    margin: 30px 0 30px 30px;
}
.choices {
    margin:0 0 30px 42.5px;
}
.options {
    width: 175px;
    height: 45px;
    padding: 10px 5px 10px 15px;
    background: linear-gradient(135deg, #3999ff, #50e2ff);
    color: black;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
}

.options:hover {
    background: linear-gradient(135deg, #50e2ff, #3999ff);
}

.back-button {
    margin-top: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: linear-gradient(135deg, #3999ff, #50e2ff);
    color: black;
    border-radius: 10px;
    font-size: 1.1em;
    border: none;
    cursor: pointer;    
}

.back-button:hover {
    background: linear-gradient(135deg, #50e2ff, #3999ff);
}

.generate_btn {
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.9em;
    border: none;
}



.history {
    margin-left: 42.5px;
}
.list {
    margin-left: 30px;
    margin-top: 10px;
}
.content_heading {
    position: relative;
}
.avatar {
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 1050px;
    color: white;
}
.question {
    margin: 40% auto 30px;
}                                                       
.input {
    height: 100px;
    width: 600px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    resize: none;
    padding: 10px;
}

#btn_complex {
    display: flex;
}

#submit_btn {
    margin: 20px;
    padding: 10px;
    background: linear-gradient(135deg, #50e2ff, #3999ff);
    color: #000;
    font-weight: bold;
    border-radius: 10px;
}

#submit_btn:hover {
    background: linear-gradient(135deg, #3999ff, #50e2ff);
}
#play_button{
    margin: 20px;
    padding: 10px;
    background: linear-gradient(135deg, #50e2ff, #3999ff);
    color: #000;
    font-weight: bold;
    border-radius: 10px;
}
#play_button:hover{
    background: linear-gradient(135deg, #3999ff, #50e2ff);
}
#image_container {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc nếu cần */
    margin-top: 20px; /* Tạo khoảng cách phía trên */
    flex-direction: column; /* Giúp các phần tử con sắp xếp theo chiều dọc */
}

#generated_image {
    max-width: 100%; /* Đảm bảo ảnh không vượt quá khung chứa */
    height: auto; /* Giữ tỷ lệ ảnh */
    display: none; /* Mặc định ẩn ảnh */
    margin-right: -30px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: rgb(96, 96, 96);
    border-radius: 15px;
}

::-webkit-scrollbar-hover {
    background: linear-gradient(135deg, #3999ff, #50e2ff);
    border-radius: 15px;
}

.typing--animation {
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    width: 0;
    animation: typing 3.5s steps(30, end) forwards, blink 1s step-end infinite,hideCursor 1s 3.5s forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@keyframes hideCursor {
    to {
        border-right: none;
    }
}
.input:focus::placeholder {
    color: transparent;
}
/* Animation */
.content-item {
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
  }
  
  .content-item:nth-child(1) { animation-delay: 0.2s; }
  .content-item:nth-child(2) { animation-delay: 0.4s; }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  body.signup-page {
    background: linear-gradient(120deg, #000, #050549);
    display: flex; /* Kích hoạt flexbox */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100vh; /* Chiều cao toàn màn hình */
    margin: 0; /* Loại bỏ margin mặc định */
    font-family:'Poppins';
}

/* Container chứa form */
.signup-container {
    background: white;
    padding: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* Chiều rộng cố định */
    display:flex;
    flex-direction: column;
    align-items: center;

}

.signup-container h1 {
    margin-bottom: 15px;
    text-align: center; /* Căn giữa nội dung bên trong */
    font-weight: bold;
}


.form-control {
    width: 100%;
    margin-top: 40px;
    position: relative;
}
.form-control input{
    width: 100%;
    height:40px;
    font-size: 16px;
    border:none;
    outline: none;
    border-bottom: 2px solid #adadad;

}
.form-control span{
position:absolute;
border-bottom:3px solid var(--success-color);
top: 38px;
left: 0;
width: 0%;
transition: 0.3s;
}
.form-control input:focus ~ span{
    width: 100%;
}
.form-control small{
    color:var(--error-color);

}
body.signup-page button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #3999ff, #50e2ff);
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin:25px 0;
    font-weight: bold;
}

body.signup-page button:hover {
    background: var(--success-color)
}
.signup-container a{
    color:var(--success-color);
    text-decoration: none;
    cursor:pointer;
    font-weight: bold;
}
.signup-container a:hover{
    text-decoration: underline;
}

/* Định dạng chung cho trang đăng nhập */
body.signin-page {
    background: linear-gradient(120deg, #000, #050549);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Container chứa form */
.signin-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

/* Tiêu đề */
.signin-container h1 {
    margin-bottom: 35px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Ô nhập liệu */
body.signin-page input {
    width: 100%;
    height:40px;
    font-size: 16px;
    border:none;
    outline: none;
    border-bottom: 2px solid #adadad;
}

/* Nút đăng nhập */
body.signin-page button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 25px 0;
}

body.signin-page button:hover {
    background-color: #218838;
}

.signin-container a{
    color:var(--success-color);
    text-decoration: none;
    cursor:pointer;
    font-weight: bold;
}
.signin-container a:hover{
    text-decoration: underline;
}
/* CSS audio */
.audio {
    width: 500px;
    height: 54px;
    position: absolute;
    top: 80px;
    left: 120px;
}
#audio_player {
    width: 500px;
    height: 35px;
    display: none;
}


