 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .full-container {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial;
 }
 /* CSS Sidebar */
 .sidebar {
    flex:1;
    color: white;
    background-color: black;
    border-radius: 0 15px 15px 0;
 }
.sidebar_text {
    margin: 30px 0 0 30px;
    font-size: 1.2em;
}
.sidebar_text>span {
    margin-left: 12.5px;
    padding: 10px 30px;
    background-clip: padding-box;
    background-color: aqua;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}
.sidebar_text>h2 {
    margin-bottom: 40px;
}
/* CSS Content navigation */
.content {
    flex: 4;
 }
 .navbar {
    height: 60px;
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 10px;
 }
 .btn_link {
    text-decoration: none;
 }
 .navbar_btn {
    position: absolute;
    right: 30px; 
 }
 .btn_login {
    border: none;
    font-size: 1em;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: aqua;
    cursor: pointer;
 }
 /* CSS Content body */
.content_body {
   display: grid;
   justify-content: center;
}
.body_title {
    display: grid;
    justify-content: center;
    font-size: 1.5em;
}
.body_title>h1 {
    margin: 40px auto 5px;
}
.body_title>h3 {
    margin: 0 auto;
    font-weight: 50;
}
.body_description {
    font-size: 1.6em;
    margin-top: 30px;
}
.description_prompt {
    font-weight: 100;
    margin: 10px 0 0;
}
.start_link {
    margin: 100px auto 0;
}
.start_btn {
    padding: 20px;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background-color: aqua;
    cursor: pointer;
}
/* CSS trang tạo */
.sidebar_title {
    font-size: 1.2em;
}
.sidebar_title>h2 {
    margin: 30px 0 30px 30px;
}
.choices {
    margin:0 0 30px 42.5px;
}
.options {
    width: 175px;
    height: 41px;
    padding: 10px 5px 10px 15px;
    background-color: aqua;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
}
.generate_btn {
    color: white;
    border: none;
    background-color: black;
    cursor: pointer;
    font-size: 0.9em;
}
.history {
    margin-left: 42.5px;
}
.list {
    margin-left: 30px;
    margin-top: 10px;
}
.content_heading {
    position: relative;
}
.avatar {
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 990px;
}
.question {
    margin: 40% auto 50px;
}                                                       
.input {
    height: 100px;
    width: 600px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.input:focus::placeholder {
    color: transparent;
}