fastapi[all]
uvicorn
pydantic
sqlalchemy
databases
psycopg[binary]
passlib[bcrypt]
pyjwt
python-decouple
openai
diffusers
transformers
speechrecognition
python-multipart
loguru
httpx
pyht
googletrans
psycopg2-binary
werkzeug
jose
pycryptodome
python-jose
fastapi-users[sqlalchemy]
authlib
pipreqs
starlette
itsdangerous
Requests
Requests
moviepy
PyPDF2
python-docx
tiktoken
paddleocr 
paddlepaddle
pydub
deep-translator
pytesseract
fitz
pymupdf
runwayml
apscheduler
tools
frontend
libgl1
ffmpeg
tesseract-ocr
libsndfile1
libsm6
libxext6
libxrender-dev
aiofiles
